main{
	background: linear-gradient(#fff2f2,#ffdbdb,#ffcece,#ffa8a8);
}

.carousel-inner{
	background: linear-gradient(#65DAF9,#C78C19);
	text-align: center;	
}

#carouselExampleCaptions .carousel-inner, #carouselExampleCaptions .carousel-item{
	height: 70vh;
}

#carouselExampleCaptions .carousel-caption{
	top: 75%;
}

.banner__img{
	width: 43vw;
	height: 70vh;
}

.main-btn{
	background: #65DAF9;
	color:#ffffff;
	width: 200px;
	height: 60px;
	padding: 10px 20px;
	border-radius: 30px;
	border: 3px solid transparent;
	transition: .5s;
}

.main-btn:hover{
	text-decoration: none;
	color:#ffffff;
	background-color: transparent;
	border-color:#65DAF9;
}

.sobre{
	width:100%;
	text-align: center;
	padding: 1.5rem 8rem;
}
.sobre__titulo {
	font-size: 3rem;
	margin-bottom: 1.25rem;
}

.sobre__imagem{
	width: 20rem;
}

.sobre__imagem:hover{
	transition: 1s all;	
	transform: scale(1.8);
}

.sobre__descricao{
	margin-top: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
}
.sobre p {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.sobre strong{
	font-weight: bold;
}

.sobre em{
	font-style: italic;
}

#missao {
	font-size: 2.2rem;
}

.quem-somos{
	text-align: center;
	padding-bottom: 3rem;
}

.quem-somos__titulo{
	font-size: 3rem;
	margin-bottom: 1.25rem;
}

.quem-somos__descricao{
	font-size: 1.2rem;
	padding-bottom: 1.25rem;
}

.pessoas{
	background:#fefefe;
	display: flex;
	padding-top: 1.25rem;
	justify-content: space-around;	
}

.pessoa{
	display: flex;
	flex-direction: column;
}

.pessoa__imagem{
	width: 250px;
	height: 250px;
	margin: 0 auto;	
	background-size: cover;
	background-position: center;
	border-radius: 100%;
}

.pessoa__imagem--helen{
	background-image: url('../imagens/pessoa/helen.jpeg')
}

.pessoa__imagem--jessica{
	background-image: url('../imagens/pessoa/jessica.jpg')
}

.pessoa__nome{
	margin: .5rem 0;
	font-size: 1.75rem;
}

.pessoa__funcao{
	font-size: 1.2rem;
}

.mapa{
	text-align:center;
	padding-left: 3rem;
	padding-right: 3rem;
	
}

.mapa__titulo{
	font-size: 3rem;
	margin-bottom: 1.25rem;
}

.mapa__conteudo{
	padding-top: 2rem;
}

.mapa__iframe{
	width: 80%;
	height: 20rem;	
}

.mapa p{
	font-size:1.2rem;
	text-align: center;
}

.beneficios{
	padding: 3rem;

}
.beneficios__titulo{
	font-size: 3rem;
	margin: 1.25rem;
	text-align:center;
}

.beneficios__conteudo{
	text-align:center;
	padding: 2rem;
}

.beneficios__lista{
	display: inline-block;
	vertical-align: top;
}

.beneficios__item {
	font-size: 1.2rem;
	line-height: 1.5;
	text-align: left;
}

.beneficios__item:before {
	content: "\1F31F";
}

.beneficios__imagem{
	width: 20%;
	padding-left: 1rem;
}
